---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


<p style="font-size: 16px;">Some of my previous publications<br></p>
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------<br>
<p style="font-size: 10px;">[1] W.X. Zhang, D.R. Han*, Z.B. Li, A self-adaptive projection method for multiple-sets split feasibility problem, Inverse Problems, 25 (2009) 115001 <br>
[2] W.X. Zhang, D.R. Han, X.M. Yuan*, An efficient simultaneous method for constrained multiple-sets split feasibility problem, Comput Optim Appl, 52 (2012) 825-843<br>
[3] R.H. Chan*, X.M. Yuan, W.X. Zhang, Point spread function reconstruction in ground-based astronomy by l1-lp model, J Opt Soc Ame A, 29 (2012) 2263-2271<br>
[4] D.R. Han, X.M. Yuan*, W.X. Zhang, X.J. Cai, An ADM-based splitting method for separable convex programming, Comput Optim Appl, 54 (2013) 343-369<br>
[5] M.K. Ng*, X.M. Yuan, W.X. Zhang, Coupled variational image decomposition and restoration model for blurred cartoon-plus-texture images with missing pixels, IEEE Trans Image Process, 22 (2013) 2233-2246<br>
[6] B.S. He, X.M. Yuan*, W.X. Zhang, A customized proximal point algorithm for convex minimization with linear constraints, Comput Optim Appl, 56 (2013) 559-572<br>
[7] R.H. Chan*, X.M. Yuan, W.X. Zhang, A phase model for point spread function estimation in ground-based astronomy, Sci China Ser A, 56 (2013) 2701-2710<br>
[8]D.R. Han, X.M. Yuan*, W.X. Zhang, An augmented Lagrangian based parallel splitting method for separable convex minimization with applications to image processing, Math Comput, 83 (2014) 2263-2291<br>
[9]M.K. Ng*, H.Y.T. Ngan, X.M. Yuan, W.X. Zhang, Patterned fabric inspection and visualization by texture and defect decomposition method, IEEE Trans Autom Sci Eng,11 (2014) 943-947<br>
[10]D.R. Han*, W.W. Kong, W.X. Zhang, A partial splitting augmented Lagrangian method for low-patch-rank image decomposition, J Math Imaging Vision, 51 (2015) 145-160<br>
[11]W.X. Zhang*, X.J. Cai, Z.H. Jia, A proximal alternating linearization method for minimizing the sum of two convex functions, Sci China Ser A, 58 (2015) 2225-2244<br>
[12]W.X. Zhang, J. Fehrenbach, A. Desmaison, V. Lobjois, B. Ducommun, P. Weiss*, Structure tensor based analysis of cells and nuclei organization in tissues, IEEE Trans Med Imag, 35, (2016) 294-306<br>
[13]Y.H. Dai, D.R. Han, X.M. Yuan*, W.X. Zhang, A sequential updating scheme of Lagrange multiplier for separable convex programming, Math Comput, 86 (2017) 315-343<br>
[14]P. Escande, P. Weiss, W.X. Zhang, A variational model for multiplicative structured noise removal, J Math Imaging Vision, 57, (2017) 43-55<br>
[15]M.K. Ng, H.Y.T. Ngan, X.M. Yuan, W.X. Zhang, Lattice-based patterned fabric inspection by using total variation and sparsity with low-rank representations, SIAM J Imaging Sci, 10, (2017), 2140-2164<br>
[16]W.Y. Ding, M.K. Ng, W.X. Zhang*, A Peaceman-Rachford splitting method with monotone plus skew-symmetric splitting for nonlinear saddle point problems, J Sci Comput,  81 (2019), 763-788<br>
[17]H.S. He, J.D. Chen*, J. Benesty, W.X. Zhang, T. Yang, A class of multichannel sparse linear prediction algorithms for time delay estimation of speech source, Signal Process, (2020), 169, 107395<br>
[18]X.F. Wang, J.P. Zhang, W.X. Zhang*, The distance between convex sets with Minkowski sum structure: application to collision detection, Comput Optim Appl,77 (2020), 465-490<br>
[19]L.Y. Hu, W.X. Zhang, X.J. Cai, D.R. Han*, A parallel operator splitting algorithm for solving constrained total-variation retinex, Inverse Prob Imag, 14 (2020) 1135-1156<br>
[20]W.X. Zhang*, A phase model using the Huber norm for estimating point spread function under frozen flow hypothesis, J Comput Appl Math, 397 (2021)11357<br>
[21]Y. Gao, W.X. Zhang*, An alternative extrapolation scheme of PDHGM for saddle point problem with nonlinear function, Comput Optim Appl, 85 (2023) 263-291<br>
[22]Q.S. Wang, D.R. Han, W.X. Zhang*, A customized inertial proximal alternating minimization for SVD-free robust principal component analysis, Optimization, 73 (2024), 2387-2412<br>
[23]Z.H. Jia, W.X. Zhang, X.J. Cai, D.R. Han, Stochastic alternating structure-adapted proximal gradient descent with variance reduction for nonconvex nonsmooth problem, Math Comput, 93 (2024), 1677-1714<br>
[24]Q.C. Cao, D.R. Han, X.F. Wang, W.X. Zhang*, Generalized variational framework with minimax optimization for parametric blind deconvolution, Inverse Problems, 40 (2024) 045019<br>
[25]何炳生, 张文星，图像处理中一些典型凸优化问题及其求解方法,《医学图像计算中的数学理论与方法》(孔德兴等著), 北京: 科学出版社, (2025)<br>
[26]Y.X. Zhang, W.X. Zhang, J. Zhang, J.P. Yin*, Double rank-one prior: thin cloud removal by visible bands, IEEE Trans Geoscience Remote Sens, 62 (2024), 1-10<br>
[27]W.Y. Ding, M.K. Ng, W.X. Zhang*, A generalized alternating direction implicit method for consensus optimization: application to distributed sparse logistic regression, J Global Optim, 90 (2024), 727-753<br>
[28]Y.X. Zhang, W.X. Zhang*, J.P. Yin, Image dejittering on the perspective of spatially-varying mixed noise removal, Signal Process, 226 (2025), 109671<br>
[29]Y.M. Li, H.W. Xu, W.X. Zhang*, A balanced augmented Lagrangian method with correction for linearly constrained optimization, J Sci Comput, 104 (2025), to appear<br></p>
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------<br>
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my full lists of publications on  <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}


